.icon {
    
    &.icon-search {
        position: relative;
        &::after {
            content: url('../../../assets/busca/Lupa/Shape@1\,5x.svg');
        }
    }
    &.pointer {
        cursor: pointer;
    }
    &.icon-heroes {
        position: relative;
        &::after {
            content: url('../../../assets/icones/heroi/noun_Superhero_2227044@1\,5x.svg');
        }
    }
    &.icon-heart {
        position: relative;
        transition: 1s all;
        &::after {
            content: url('../../../assets//icones/heart/Path\ Copy\ 2@1\,5x.svg');
        }
        &:hover {
            &::after {
                content: url('../../../assets//icones/heart/Path\ Copy\ 7.svg') !important;
            }
        }
    }
    &.icon-heart-liked {
        position: relative;
        &::after {
            content: url('../../../assets//icones/heart/Path\ Copy\ 7.svg');
        }
    }
    &.icon-books {
        position: relative;
        &::after {
            content: url('../../../assets/icones/book/Group@1\,5x.svg');
        }
    }
    &.icon-video {
        position: relative;
        &::after {
            content: url('../../../assets/icones/video/Shape@1\,5x.svg');
        }
    }
}