.icon {
    
    &.icon-search {
        position: relative;
        &::after {
            content: url('../../../assets/busca/Lupa/Shape@1\,5x.svg');
        }
    }
    &.icon-heroes {
        position: relative;
        &::after {
            content: url('../../../assets/icones/heroi/noun_Superhero_2227044@1\,5x.svg');
        }
    }
    &.icon-heart {
        position: relative;
        &::after {
            content: url('../../../assets//icones/heart/Path.svg');
        }
    }
    &.icon-heart-liked {
        position: relative;
        &::after {
            content: url('../../../assets/icones/heart/Path@1\,5x.svg');
        }
    }
    &.icon-books {
        position: relative;
        &::after {
            content: url('../../../assets/icones/book/Group@1\,5x.svg');
        }
    }
    &.icon-video {
        position: relative;
        &::after {
            content: url('../../../assets/icones/video/Shape@1\,5x.svg');
        }
    }
}