@import '../../../scss/abstract/variables.scss';

.form-seach {

    &.form-lg {
        max-width: 100%;
        width: 800px;
        margin: 30px auto;
        background-color: $red-100;
        display: flex;
        flex-direction: row-reverse;
        height: 50px;
        border-radius: 100px;

        input.input-search {
            outline: none;
            border: none;
            background-color: transparent;
            width: 100%;
            

            &::placeholder {
                color: $red;
            }
        }

        button.search-btn {
            cursor: pointer;
            border: none;
            background-color: transparent;
            padding: 0 30px;
        }
    }
}