{ 
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
        "no-param-reassign": [2, {"props": false}],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
    // more configuration options here!
  }