@import './abstract/typography.scss';
@import './abstract/variables.scss';
@import './base/reset.scss';
@import './abstract/mixins';

body *{
  font-family: $font-family-work-sans;
}

.text {
  font-size: $p-font-size;
  color: $gray-300;
}

.btn-transparent {
  border: none;
  background-color: transparent;
}

.bold {
  font-weight: $font-weight-bold;
}

.color-red {
  color: $red;
}

.color-gray {
  color: $gray-300;
}
